[submodule "RTOS-GroupChat"]
	path = RTOS-GroupChat
	url = https://github.com/satu0king/RTOS-GroupChat.git
[submodule "RTOS-GroupVoiceChat"]
	path = RTOS-GroupVoiceChat
	url = https://github.com/satu0king/RTOS-GroupVoiceChat
